@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
    &-nav
      padding: 22px 0
    &-menu
      &__link
        font-size: 12px
  .search
    &__input
      min-width: 340px
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-nav, &__user
      display: none
  .menu
    &-button
      padding: 0
      border: none
      background-color: transparent
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 14px
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin: 10px 0 0 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-name
      flex-basis: 100%
  .stars
    flex-basis: auto
@media (max-width: 576px)
  .logo
    width: 99px
