.navbar
  background-color: #fff
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
    &__menu-button
      display: none
  &__search
    margin-left: 108px
    margin-right: auto
  &-nav
    padding: 31px 0
    background-color: $dark-color
  &-menu
    list-style: none
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: space-between
    color: $light-color
    text-transform: uppercase
    &__link
      font-size: 14px
      font-weight: 700
.logo
  width: 177px
.search
  display: flex
  position: relative
  overflow: hidden
  border-radius: 6px
  &__input
    background-color: $secondary-color
    min-width: 350px
    padding: 12px 23px
    font-size: 12px
    line-height: 15px
    border: none
  &__button
    position: absolute
    right: 0
    padding: 12px 24px
    border: none
    background-color: $primary-color
    cursor: pointer
    max-width: 65px
  &__icon
    width: 16px
    height: 16px
    svg
      fill: #ffffff
.user
  display: flex
  align-items: center
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    font-size: 14px
    margin-left: 18px
